<div class="grid grid-cols-4 h-full w-full">
  <section class="col-start-1 col-end-4 w-full h-full">
    <app-news-card class="w-full h-full"></app-news-card>
    <app-news-card class="w-full h-full"></app-news-card>
    <app-news-card class="w-full h-full"></app-news-card>
    <app-news-card class="w-full h-full"></app-news-card>
    <app-news-card class="w-full h-full"></app-news-card>
    <app-news-card class="w-full h-full"></app-news-card>
  </section>
  <aside class=" col-span-1 col-end-5 w-full h-full">
    Imagen de propaganda
  </aside>
</div>
