<div class="container mx-auto p-6">

    <!-- Contenedor de la Tabla -->
     
    <!-- <app-publicity-card [record_publicity]="record_publicity" (createPublicity)="createPublicity($event)" (deletePublicity)="deletePublicity($event)" (editPublicity)="editPublicity($event)"  (fileSelected)="onFileSelected($event)"></app-publicity-card> -->

    <app-publicity-card [record_publicity]="record_publicity" (createPublicity)="createPublicity($event)" (deletePublicity)="deletePublicity($event)" (editPublicity)="editPublicity($event)"></app-publicity-card>
    
</div>
