<div class="flex justify-around items-center h-full w-full">

  <section class="flex flex-col w-1/2 h-full items-center justify-center">
    <h1
      class="text-4xl font-bold text-primary"
    >
      Registrarse
    </h1>
    <form
      [formGroup]="createUserForm"
      (ngSubmit)="onSubmit($event)"
      class="w-3/4 mt-5"
    >
      <label
        class="block text-sm font-medium text-gray-700"
      >
        Correo Electrónico
      </label>
      <input
        type="email"
        id="email"
        name="email"
        class="w-full p-2 border rounded-md mb-3"
        placeholder="example@gmail.com"
        formControlName="correo"
      />
      <div *ngIf="createUserForm.get('correo')?.invalid && createUserForm.get('correo')?.touched">
        <div *ngIf="createUserForm.get('correo')?.errors?.['required']"
          class="text-red-500 text-sm"
        >
          El correo es requerido.
        </div>
        <div *ngIf="createUserForm.get('correo')?.errors?.['email']"
          class="text-red-500 text-sm"
        >
          El formato no coincide.
        </div>
      </div>
      <!-- URL -->
      <label
        class="block text-sm font-medium text-gray-700"
      >
        Nombre de Usuario
      </label>
      <input
        type="text"
        name="nombre_usuario"
        class="w-full p-2 border rounded-md mb-3"
        placeholder="Ingrese el nombre de usuario"
        formControlName="nombre_usuario"
      >
      <div *ngIf="createUserForm.get('nombre_usuario')?.invalid && createUserForm.get('nombre_usuario')?.touched">
        <div *ngIf="createUserForm.get('nombre_usuario')?.errors?.['required']"
        class="text-red-500 text-sm">
          El nombre de usuario es requerido.
        </div>
        <div *ngIf="createUserForm.get('nombre_usuario')?.errors?.['minlength']"
        class="text-red-500 text-sm">
          El nombre de usuario debe tener al menos 5 caracteres.
        </div>
      </div>
      <label
        class="block text-sm font-medium text-gray-700"
      >
        Nombre Completo
      </label>
      <input
        type="text"
        name="nombre_completo"
        class="w-full p-2 border rounded-md mb-3"
        placeholder="Ingrese el nombre completo"
        formControlName="nombre_completo"
      >
      <div *ngIf="createUserForm.get('nombre_completo')?.invalid && createUserForm.get('nombre_completo')?.touched">
        <div *ngIf="createUserForm.get('nombre_completo')?.errors?.['required']"
        class="text-red-500 text-sm">
          El nombre es requerido.
        </div>
        <div *ngIf="createUserForm.get('nombre_completo')?.errors?.['minlength']"
        class="text-red-500 text-sm">
          El nombre debe tener al menos 3 caracteres.
        </div>
      </div>
      <label
        class="block text-sm font-medium text-gray-700"
      >
        Sexo
      </label>
      <select
        name="genero"
        id="genero"
        class="w-full p-2 border rounded-md mb-3"
        formControlName="sexo"
      >
        <option value=''>Seleccione un genero</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
      <div *ngIf="createUserForm.get('sexo')?.invalid && createUserForm.get('sexo')?.touched">
        <div
          *ngIf="createUserForm.get('sexo')?.errors?.['required']"
          class="text-red-500 text-sm"
        >
          Debes seleccionar una opción.
        </div>
      </div>
      <label
        class="block text-sm font-medium text-gray-700"
      >
        Fecha de Nacimiento
      </label>
      <input
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        class="w-full p-2 border rounded-md mb-3"
        formControlName="fecha_nacimiento"
      />
      <div *ngIf="createUserForm.get('fecha_nacimiento')?.invalid && createUserForm.get('fecha_nacimiento')?.touched">
        <div
          *ngIf="createUserForm.get('fecha_nacimiento')?.errors?.['required']"
          class="text-red-500 text-sm"
        >
          La fecha es requerida.
        </div>
        <div
          *ngIf="createUserForm.get('fecha_nacimiento')?.errors?.['fechaPosterior']"
          class="text-red-500 text-sm"
        >
          La fecha no puede ser posterior a la fecha actual.
        </div>
      </div>
      <!-- Fecha Fin -->
      <label class="block text-sm font-medium text-gray-700">
        Contraseña
      </label>
      <input
        type="password"
        id="contrasena"
        name="contrasena"
        class="w-full p-2 border rounded-md mb-3"
        placeholder="Ingrese la Contraseña"
        formControlName="contrasena"
      />
      <div *ngIf="createUserForm.get('contrasena')?.invalid && createUserForm.get('contrasena')?.touched">
        <div *ngIf="createUserForm.get('contrasena')?.errors?.['required']"
        class="text-red-500 text-sm">
          La contraseña es requerida.
        </div>
        <div *ngIf="createUserForm.get('contrasena')?.errors?.['passwordInvalid']" class="text-red-500 text-sm">
          La contraseña debe tener al menos 8 caracteres, incluir números y al menos una mayúscula.
        </div>
      </div>
      <label class="block text-sm font-medium text-gray-700">
        Compruebe su contraseña
      </label>
      <input
        type="password"
        id="repeatContrasena"
        name="Repeatcontrasena"
        class="w-full p-2 border rounded-md mb-3"
        placeholder="Ingrese la Contraseña"
        formControlName="repeatContrasena"
      />
          <div
            *ngIf="createUserForm?.errors?.['passwordMismatch'] && createUserForm.touched"
            class="text-red-500 text-sm"
          >
            Las contraseñas no coinciden.
          </div>
      <button
        class="w-full h-12 rounded-lg bg-primary text-white mt-5 cursor-pointer disabled:bg-primary/40 disabled:cursor-auto"
        (click)="onSubmit($event)"
        [disabled]="createUserForm.invalid"
      >
        Registrarse
      </button>
    </form>
  </section>

  <img class="w-1/2 h-full" src="https://i.pinimg.com/originals/b4/d1/c9/b4d1c9f9e4a6f3e9d3f4f2e1f8e8f5f7.jpg" alt="">
</div>
