<div class="grid grid-cols-4 h-full w-full">
  <div class="flex flex-col w-full col-span-3 col-start-1 px-16 gap-4 my-12">
    <header class="w-full">
      <h1 class="text-2xl font-bold">
        Mi Perfil
      </h1>
    </header>
    <section class="self-center w-full gap-3 text-lg">
      <div class="p-8 bg-white shadow-md rounded-lg">

        <div class="flex items-center mb-2">
          <img
            src="https://randomuser.me/api/portraits/men/32.jpg"
            alt="Imagen de Usuario"
            class="w-24 h-24 rounded-full border-2 border-gray-300"
          />
        </div>
        <table
          class="table-auto w-full border-collapse gap-8 text-lg mb-12"
        >
          <tr>
            <td>
              <strong>
                Nombre:
              </strong>
            </td>
            <td>{{ userInfo.nombre_completo }}</td>
          </tr>
          <tr>
            <td>
              <strong>
                Correo Electrónico:
              </strong>
            </td>
            <td>{{ userInfo.correo }}</td>
          </tr>
          <tr>
            <td>
              <strong>
                Usuario:
              </strong>
            </td>
            <td>{{ userInfo.nombre_usuario }}</td>
          </tr>
          <tr>
            <td>
              <strong>
                Fecha Nacimiento:
              </strong>
            </td>
            <td>{{ userInfo.fecha_nacimiento }}</td>
          </tr>
          <tr>
            <td>
              <strong>
                Sexo:
              </strong>
            </td>
            <td>{{ userInfo.sexo }}</td>
          </tr>
        </table>

        <div class="flex items-center mb-2">
          <button class="mt-4 px-6 py-2 bg-gray-500 text-white font-bold rounded-lg hover:bg-gray-800 mr-4 cursor-pointer">
            <span>Cambiar contraseña</span>
          </button>
          <button

            (click)="logout()"
            class="flex justify-between items-center gap-1.5 bg-fourth mt-4 px-4 py-2  text-white font-bold rounded-lg hover:bg-red-500 cursor-pointer"
          >
            <span>Cerrar Sesión</span>
            <i class="material-icons">
              exit_to_app
            </i>
          </button>
        </div>
      </div>

    </section>
  </div>
  <app-slide-publicidad></app-slide-publicidad>
</div>
