<div class="grid grid-cols-4 h-full w-full">
  <div class="flex flex-col w-full col-span-3 col-start-1 px-16 gap-4 my-12">
    <header class="w-full">
      <h1 class="text-2xl font-bold">
        Mi Perfil
      </h1>
    </header>
    <section class="self-center w-full gap-3 text-lg relative">
      <div class="p-8 bg-white shadow-md rounded-lg">
        <div class="flex items-center mb-2">
          <img 
            src="https://randomuser.me/api/portraits/men/32.jpg" 
            alt="Imagen de Usuario" 
            class="w-24 h-24 rounded-full border-2 border-gray-300"
          />
          <span class="material-icons absolute top-2 right-2 w-8 h-8 cursor-pointer border-2 border-gray-300 rounded-[4px] p-1">
            edit
          </span>
        </div>
        <div class="flex items-center mb-2">
          <label class="block font-medium text-gray-800 mr-4">Nombre:</label>
          <p class="text-gray-900">{{ user.nombre_completo }}</p>
        </div>
      
        <div class="flex items-center mb-2">
          <label class="block font-medium text-gray-800 mr-4">Correo Electrónico:</label>
          <p class="text-gray-900">{{ user.corre }}</p>
        </div>
      
        <div class="flex items-center mb-2">
          <label class="block font-medium text-gray-800 mr-4">Usuario:</label>
          <p class="text-gray-900"> {{ user.nombre_usuario }}</p>
        </div>
      
        <div class="flex items-center mb-2">
          <label class="block font-medium text-gray-800 mr-4">Fecha Nacimiento:</label>
          <p class="text-gray-900">{{ user.fecha_nacimiento }}</p>
        </div>
      
        <div class="flex items-center mb-2">
          <label class="block font-medium text-gray-800 mr-4">Sexo:</label>
          <p class="text-gray-900">{{ user.sexo }}</p>
        </div>
      
        <!-- Botón para actualizar la información -->
        <button class="mt-4 px-6 py-2 bg-gray-500 text-white font-bold rounded-lg hover:bg-gray-800 mr-4 cursor-pointer">
          <span>Cambiar contraseña</span>
        </button>
        <button routerLink="'/news'"  class="btn btn-primary mt-4 px-6 py-2 bg-red-400 text-white font-bold rounded-lg hover:bg-red-500 cursor-pointer" >
          <span>Cerrar Sesión</span>
          <i class="material-icons">exit_to_app</i>
        </button>
      </div>
      
    </section>
  </div>
  <aside class=" col-span-1 col-end-5 row-span-4 bg-blue-200">
    Imagen de propaganda
  </aside>
</div>
