<!-- Contenedor para Título y Botón -->
<div class="flex justify-center">
<div class="w-3/4 flex items-center gap-4 p-4 bg-gray-100 rounded-lg">
    <!-- Botón Agregar con efectos interactivos -->
    <button
        mat-icon-button
        color="primary"
        (click)= "myModal.show()"
        aria-label="Agregar usuario"
        class="flex items-center gap-2 px-4 py-2 bg-gray-700 text-white font-bold rounded-full cursor-pointer hover:bg-gray-800">
        <mat-icon class="hover:text-blue-600 transition">add</mat-icon>
        <span>Nuevo</span>
    </button>

    <!-- Modal -->
    <dialog #myModal>
        <app-user-form
          (closeModal)="closeModal()"
          (formValues)="handleNewUser($event)"
        ></app-user-form>
    </dialog>
</div>
</div>

<div class="flex justify-center">
<div class="w-3/4 overflow-x-auto bg-white shadow-md">
    <!-- <table class="w-full border-collapse border border-gray-300"> -->
        <table class="w-full border-collapse border border-gray-300 shadow-md text-center rounded-lg">
        <thead class="bg-primary text-white border">
            <tr>
                <th class="px-4 py-2 border">Nombre</th>
                <th class="px-4 py-2 border">Correo Electrónico</th>
                <th class="px-4 py-2 border">Usuario</th>
                <th class="px-4 py-2 border">Fecha nacimiento</th>
                <th class="px-4 py-2 border">Genero</th>
                <th class="px-4 py-2 border">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of userList; track $index) {
            <tr class="bg-gray-100">
                    <td class="px-4 py-2 border">{{item.nombre_completo}}</td>
                    <td class="px-4 py-2 border">{{item.correo}}</td>
                    <td class="px-4 py-2 border">{{item.nombre_usuario}}</td>
                    <td class="px-4 py-2 border">{{item.fecha_nacimiento | date: 'yyyy-MM-dd'}}</td>
                    <td class="px-4 py-2 border">{{item.sexo}}</td>
                    <td class="px-4 py-2 border">
                        <div class="flex flex-row justify-center space-x-2">
                            <!-- Botón de Editar -->
                            <button  mat-icon-button color="primary"
                            (click)="onEdit(item)"
                            aria-label="Editar usuario"
                            class="transition transform active:scale-90 hover:bg-green-100 focus:ring focus:ring-blue-100 p-2 rounded-md cursor-pointer"
                            >
                                <mat-icon >edit</mat-icon>
                            </button>
                            <!-- Botón de Eliminar -->
                            <button
                            (click)="openConfirmation(item.id)"
                            class="transition transform active:scale-90 hover:bg-red-100 focus:ring focus:ring-blue-100 p-2 rounded-md cursor-pointer"
                            >
                              <mat-icon>
                                delete
                              </mat-icon>
                            </button>
                        </div>
                    </td>
            </tr>
        }
        </tbody>
    </table>
    <dialog #myModalDelete>
      <div class="fixed inset-0 bg-grey/40 bg-opacity-50 flex justify-center items-center z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg w-1/3 relative">
          <header class="flex flex-col w-full justify-center items-center mb-4">
            <mat-icon
              class="w-16 h-16 text-red-500"
              aria-hidden="false"
              fontIcon="warning"
              ></mat-icon>
            <h2 class="text-xl font-bold text-gray-700">
              ¿Esta seguro que desea eliminar el registro?
            </h2>
          </header>
          <footer class="flex w-full justify-center items-center gap-8">
            <button
              class="w-1/4 h-12 rounded-lg bg-fourth text-white mt-10 cursor-pointer"
              (click)="myModalDelete.close()"
            >
              Cancelar
            </button>
            <button
              class="w-1/4 h-12 rounded-lg bg-primary text-white mt-10 cursor-pointer"
              (click)="DeleteUser()"
            >
              Confirmar
            </button>
          </footer>
        </div>
      </div>
    </dialog>
</div>
</div>
