<div class="grid grid-cols-4 h-full w-full">
  <div class="flex flex-col w-full col-span-3 col-start-1 px-16 gap-4 my-12">
    <header class="w-full">
      <h1 class="text-4xl font-bold">
        {{newsContent.titulo}}
      </h1>
    </header>
    <img
      class="self-center"
      src="{{newsContent.multimedia}}"
      alt="Imagen de noticia"
      height="700"
      width="500"
    >
    <section class="self-center w-2/3 gap-3 text-xl">
      <p>
        {{newsContent.descripcion}}
      </p>
      </section>
    <section class="flex flex-col self-center w-2/3 gap-3 text-lg font-bold">
      <span>País: {{newsContent.pais}}</span>
      <span>Categoría: {{newsContent.id_categorias}}</span>
      <span>Autor: {{newsContent.autor}}</span>
      <span>Vistas: {{newsContent.vistas}}</span>
      <span>Fuente: {{newsContent.url}}</span>
    </section>
    <app-news-rating
      class="self-center w-2/3 gap-3 text-xl"
      [rating]="rating"
      (ratingSubmitted)="handleRatingSubmission($event)"
    >
    </app-news-rating>
    <section class="self-center w-2/3 mt-10">
      <h2 class="text-2xl font-bold mb-8">
        Crea un comentario
      </h2>
      <app-form-add-comment
        (textComment)="handleCommentText($event)"
      ></app-form-add-comment>
    </section>
    <section class="self-center w-2/3 mt-10">
      <h2 class="text-2xl font-bold mb-8">Comentarios</h2>
      @for(comment of commentsByUser; track comment.id){
        <app-news-comments-list [comment]="comment"></app-news-comments-list>
      }
    </section>
  </div>
  <app-slide-publicidad></app-slide-publicidad>
</div>
