<form class="w-full h-full flex justify-around items-center">
  <label
    for="categoryFilter"
    class="flex flex-col w-3/12 gap-0.5"
  >
    Categoría
    <select
      name="category"
      id="categoryFilter"
      class="w-full h-10 border-2 p-2 rounded-md"
      (change)="onCategoryChange($event)"
    >
      <option value="">Todas</option>
      @for(category of categories; track category.id){
        <option
          [selected]="(category.id === paramCategory)"
          value="{{category.id}}"
        >
          {{category.categoria | titlecase}}
        </option>
      }
    </select>
  </label>
  <label
    for="placeFilter"
    class="flex flex-col w-3/12 gap-0.5"
  >
    Ubicación
    <select
      name="place"
      id="placeFilter"
      class="w-full h-10 border-2 p-2 rounded-md"
      (change)="onLocationChange($event)"
    >
      <option value="">Todas</option>
      @for(location of locations; track location){
        <option
          value="{{location}}"
          [selected]="(location === paramLocation)"
        >
          {{location}}
        </option>
      }
    </select>
  </label>
  <label
    for="dateFilter"
    class="flex flex-col w-3/12 gap-0.5"
  >
    Fecha
    <select
      name="date"
      id="dateFilter"
      class="w-full h-10 border-2 p-2 rounded-md"
      (change)="applyDateFilter($event)"
    >
      @for(dateOption of dateOptions; track dateOption){
        <option
          value="{{dateOption}}"
          [selected]="(dateOption === paramDate)"
        >
          {{dateOption}}
        </option>
      }
    </select>
  </label>
  <button class="w-1/12 h-10 border rounded-full text-white bg-primary cursor-pointer hover:bg-fourth" [disabled]="!categorySelected">
    Filtrar
  </button>
</form>
