<form class="w-full h-full flex justify-around items-center">
  <select
    name="place"
    id="placeFilter"
    class="w-3/12 h-10 border-2 p-2 rounded-md"
  >
    <option value="">Lugar</option>
    <option value="sports">Deportes</option>
    <option value="economy">Economia</option>
    <option value="entertainment">Entretenimiento</option>
    <option value="health">Salud</option>
  </select>
  <select
    name="category"
    id="categoryFilter"
    class="w-3/12 h-10 border-2 p-2 rounded-md"
  >
    <option value="">Categoria</option>
    @for(category of categories; track category.id){
      <option value="{{category.id}}">{{category.categoria}}</option>
    }
  </select>
  <select
    name="author"
    id="authorFilter"
    class="w-3/12 h-10 border-2 p-2 rounded-md"
  >
    <option value="all">Autor</option>
    <option value="author1">Autor 1</option>
    <option value="author2">Autor 2</option>
  </select>
  <button class="w-1/12 h-10 border rounded-full text-white bg-primary cursor-pointer hover:bg-fourth" (click)="search($event)" [disabled]="!text">
    Filtrar
  </button>
</form>
