<section class="w-full h-64 grid grid-cols-4 grid-rows-4 py-11 px-10 gap-1  cursor-pointer border-b">
  <div class="col-span-1 col-start-1 row-span-4 p-1.5" (click)="goToNews()">
    <img src='' alt="Imagen de noticia">
  </div>
  <div class="col-span-4 col-start-2 row-span-1 row-start-1 text-start text-2xl font-bold flex justify-between">
    <h1 class="text-2xl font-bold line-clamp-1">
      {{ varNews.titulo }}
    </h1>
    @if(editNews){
      <div class="flex gap-2">
        <button class="border-2 border-primary rounded-md w-8 h-8 hover:bg-fourth cursor-pointer">
          <mat-icon>delete</mat-icon>
        </button>
        <button class="border-2 border-primary rounded-md w-8 h-8 hover:bg-blue-400 cursor-pointer"
          (click)="openEditNewsModal()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    }
  </div>
  <div class="col-span-4 col-start-2 row-span-2 row-start-2 w-full h-full  font-light" (click)="goToNews()">
    <p
      class="line-clamp-4"
    >
      {{ varNews.descripcion }}
    </p>
  </div>
  <div class="col-span-4 col-start-2 row-span-1 row-end-5 w-full h-full mb-2.5" (click)="goToNews()">
    <div class="flex justify-around items-end w-full h-full font-bold">
      <span
        class="flex gap-1"
      >
        <i class="fas fa-eye"></i>
        {{ varNews.vistas}}
      </span>
      <span>
        {{varNews.pais}}
      </span>
      <span>
        {{varNews.id_categorias}}
      </span>
      <span>
        {{varNews.autor}}
      </span>
    </div>
  </div>
</section>
